<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>In Your Face!</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <p class="navbar-text"><b>In Your Face!</b></p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://bit.ly/2eVxDUD"><h2 style="padding-right: 10px;">http://bit.ly/2eVxDUD</h2></a></li>
  </ul>
</nav>

<main id="grid" class="container" style="padding-top: 100px;">
  <div class="row">

  </div>
</main>

<%= select_tag(:emotion_select, options_for_select([['Select emotion', 0],
                                                    %w(Anger anger),
                                                    %w(Contempt contempt),
                                                    %w(Disgust disgust),
                                                    %w(Fear fear),
                                                    %w(Happiness happiness),
                                                    %w(Neutral neutral),
                                                    %w(Sadness sadness),
                                                    %w(Surprise surprise)])) %>

<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<%= render "javascript" %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
