<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>In Your Face!</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <p class="navbar-text"><b id="emotion">In Your Face!</b></a>
        </nav>
        <main class="container">
          <div class="row">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button id="stop-camera" class="btn btn-danger">Stop Camera</button>
              </div>
              <div class="btn-group" role="group">
                <button id="start-camera" class="btn btn-success">Start Camera</button>
              </div>
            </div>
          </div>
          <div id="error-alert" class="alert alert-danger" style="display: none">Oopsy, try again!</div>
          <video id="video" autoplay></video>
          <img id="photo" class="capture-img" alt="face" style="display: none;"/>
          <canvas id="canvas" style="display: none"></canvas>
          <div class="row">
            <div class="col-xs-8">
              <input type="text" id="twtter-handle" placeholder="Twitter handle">
            </div>
            <div class="col-xs-4">
              <button id="twitter-btn" class="btn btn-info btn-block">Join</button>
            </div>
          </div>
          <form id="form" action="/entries" method="post">
            <button id="capture-btn" type="submit" class="btn btn-default btn-lg btn-block" disabled style="display: none">Get ready!</button>
          </form>
        </main>

        <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <%= render "javascript" %>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
