@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

body {
    padding-top: 45px;
}

nav {
    text-align: center;
}

main.container {
    padding: 20px;
    video, img {
        width: 100%;
        padding-bottom: 20px;
    }
    video {
        max-height: 360px;
    }
}

.navbar-text {
    text-transform: uppercase;
}

.alert {
    text-align: center;
}

#twitter-btn {
    color: #fff;
}
